
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3 class="headline">Zwei-Faktor-</h3>
      <h3 class="headline2">Authentifizierung</h3>
      <p class="head2">Der Code wird Ihnen an Ihre E-Mail gesendet</p>
      <form>
        <div class="form-group">
          <input class="zweifa" />
        </div>
      </form>

      <div class="form-group">
        <a routerLink="/login" class="btnKonto" >Zurück zum Login</a>

      </div>

    </div>
  </div>
</div>
