
<body>
<div class="topnav">
  <a routerLink="/dashboard">Dashboard</a>
  <a style="float: right" (click)="logout()">Ausloggen</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>MiniGame</h2>
      <button id="start" class="btn1"
              (click)="miniGameStarten()" [disabled]="disableStartButton">Minigame starten</button>
      <button id="end" class="btn2"
              (click)="miniGameStoppen()">Minigame stoppen</button>

      <button  class="ball" id="spiel" [ngStyle]="{
               'margin-left':AbstandLinks,'margin-right':AbstandRechts,
               'margin-bottom':AbstandUnten, 'margin-top':AbstandOben,
               'display':Anzeigen}"
               (click)="increaseMoney()">
        <img class="bild" src="assets/img_1.png"></button>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="usercard">
      <h2>Dein Kontostand</h2>
          {{this.money}}€
    </div>
  </div>
</div>
</body>
