<div class="login-container">
  <div class="login-form">
    <div class="form-group">
      <div class="form-group">
      </div>
    </div>
    <!-- Mannschaften -->
<!--
    <h4 style="color: #FFFFFF">Top Mannschaften</h4>
    <div *ngFor="let liga of kvTeam | keyvalue">
      <h5 style="color: #FFFFFF">{{liga.key}}</h5>
    <table class="table table-bordered table-striped" style="background-color:#FFFFFF;">
      <thead>
      <tr>
        <th scope="col" >Mannschaft</th>
        <th scope="col">Punkte</th>
      </tr>
      </thead>
      <tbody *ngFor="let ldata of liga.value">
      <tr >
        <td>{{ldata}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    </div>
-->
    <h4 style="color: #FFFFFF">Top Nutzer</h4>
          <table class="table table-bordered table-striped" style="background-color:#FFFFFF;">
            <thead>
            <tr>
              <th scope="col" >Vorname</th>
              <th scope="col">Nachname</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
    <button routerLink="/dashboard" class="btnSubmit">Zurück</button>
  </div>
</div>

