<div class="login-container">
  <div class="login-form">
    <div class="form-group">
      <div class="form-group">
      </div>
    </div>

    <!-- Header-->
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center">Tipps abgeben</h4>
    </div>

    <!-- Body -->
    <div class="modal-body" >
      <select class="dropdown">
        <option class="dropdown-item"
                *ngFor="let league of leagues"
                (click)="[getTopTeam(league.id), getTopUser(league.id)]">Liga: {{league.name}}</option>
      </select>
      <br>
      <br>

      <br>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col" style="color: #FFFFFF">Mannschaft</th>
          <th scope="col" style="color: #FFFFFF">Punkte</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let leagueData of leagueDatas">
          <th style="color: #FFFFFF">{{leagueData.player1}}</th>
          <th style="color: #FFFFFF">{{leagueData.result}}</th>
        </tr>
        </tbody>
      </table>
      <br>
      <br>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col" style="color: #FFFFFF">Nutzer</th>
          <th scope="col" style="color: #FFFFFF">Punkte</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <th style="color: #FFFFFF">{{user.firstName}}</th>
          <th style="color: #FFFFFF">{{user.code}}</th>
        </tr>
        </tbody>
      </table>

    </div>

    <button routerLink="/dashboard" class="btnSubmit">Zurück</button>
  </div>
</div>

