
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3 class="headline">Dashboard</h3>
      <form>
        <div class="form-group">
          <button routerLink="/systemdatum" class="btnSubmit">Systemdatum ändern</button>
        </div>
        <div class="form-group">
          <button class="btnSubmit" routerLink="/create_league">Liga erstellen</button>
        </div>
        <div class="form-group">
          <button class="btnSubmit" routerLink="/show_league">Ligenübersicht</button>
        </div>
        <div class="form-group">
          <button class="btnSubmit" routerLink="/freischaltungen">Freischaltungen</button>
        </div>
        <div class="form-group">
          <button class="btnSubmit" routerLink="/admin-stats">Statistiken</button>
        </div>

        <form (ngSubmit)="logout()">
          <div class="form-group">
            <button class="btnSubmit">Ausloggen</button>
          </div>
        </form>
      </form>

    </div>
  </div>
</div>



