
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3 class="headline">Dashboard </h3>
      <form>
        <div class="form-group">
          <button routerLink="/show_league" class="btnSubmit" >Ligen Übersicht</button>
        </div>
        <div class="form-group">
          <button routerLink="/tipprunden-uebersicht" class="btnSubmit" >Tipprundenübersicht</button>
        </div>
        <div class="form-group">
          <button routerLink="/meineTipprunden" class="btnSubmit" >Meine Tipprunden</button>
        </div>
        <div class="form-group">
          <button routerLink="/getUser" class="btnSubmit">Profil</button>
        </div>
        <div class="form-group">
          <button routerLink="/friend-list" class="btnSubmit">Freundesliste</button>
        </div>

        <div class="form-group">
          <button routerLink="/showTop" class="btnSubmit">Die Besten der Besten</button>
        </div>
        <form (ngSubmit)="logout()">
          <div class="form-group">
            <button class="btnSubmit">Ausloggen</button>
          </div>
        </form>
      </form>



    </div>
  </div>
</div>



