
<div class="login-container">
  <div class="login-form">
    <div class="form-group">
      <div class="form-group">
        <h3>Ligenübersicht</h3>
      </div>
    </div>
    <div class="card my-5">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">LigaID</th>
            <th scope="col">Liga Name</th>
          </tr>
          </thead>
          <!-- Liga Anzeigen Body -->
          <tbody>
          <tr *ngFor="let ligens of ligen">
            <td>{{ ligens.id }}</td>
            <td>{{ ligens.name }}</td>
            <div class="form-group">
              <button  class="btnLiga" (click)="zeigeLigaDaten(ligens.id)">Zeige die Ligadaten</button>
              <button  class="btnLiga" (click)="sichereId(ligens.id)"  data-bs-toggle="modal" data-bs-target="#myModal2">Tipprunde erstellen</button>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--Tabelle für die Ligadaten -->
    <div class="login-form">
      <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Datum</th>
              <th scope="col">Spieltag</th>
              <th scope="col">Team 1</th>
              <th scope="col">Team 2</th>
              <th scope="col">Ergebnis</th>
              <th scope="col" [hidden]="zeigeAktion" >Aktion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leaguedata of data">
              <td>{{ leaguedata.id }}</td>
              <td>{{ leaguedata.date }}</td>
              <td>{{ leaguedata.matchDay }}</td>
              <td>{{ leaguedata.player1 }}</td>
              <td>{{ leaguedata.player2 }}</td>
              <td>{{ leaguedata.result }}</td>
              <td><button [hidden]="zeigeAktion" (click)="updateLeagueData(leaguedata.id)" class='btn btn-info' data-bs-toggle="modal" data-bs-target="#myModal">Update</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group">
        <button (click)="checkRole()" class="btnSubmit">Zurück</button>
      </div>
    </div>
  </div>
</div>


<!-- PopUp fürs Updaten/Bearbeiten der Ligadaten -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="LeagueDataupdateform"  (ngSubmit)="update()">
        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Liga Daten</h4>
        </div>

        <!--  Body -->
        <div class="modal-body" >
          <div class="hidden">
            <label for="id">League Data ID</label>
            <input type="number" class="form-control"  formControlName="id" id="id" name="id" [(ngModel)]="leaguedatalist.id">
          </div>
          <div>
            <label for="date">Datum</label>
            <input type="date" class="form-control"   formControlName="date" id="date" name="date"[(ngModel)]="leaguedatalist.date">
          </div>
          <div >
            <label for="matchDay">Spieltag</label>
            <input type="number" class="form-control"  (keypress)="validateNo($event)" formControlName="matchDay" id="matchDay" name="matchDay"[(ngModel)]="leaguedatalist.matchDay">
          </div>
          <div>
            <label for="player1">Team 1</label>
            <input type="text" class="form-control" formControlName="player1" id="player1" name="player1"[(ngModel)]="leaguedatalist.player1">
          </div>
          <div>
            <label for="player2">Team 2</label>
            <input type="text" class="form-control" formControlName="player2" id="player2" name="player2"  [(ngModel)]="leaguedatalist.player2">
          </div>
          <div>
            <label for="result">Ergebnis</label>
            <input type="text" class="form-control" formControlName="result"  id="result" name="result"  [(ngModel)]="leaguedatalist.result">
          </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success">Update</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- PopUp fürs Erstellen einer Tipprunde -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <form  #addTipprunde="ngForm" (ngSubmit)="erstelleTipprunde(this.ligaid)">
        <!-- Header-->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Tipprunde erstellen</h4>
        </div>

        <!-- Body-->
        <div class="modal-body" >
          <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name"[(ngModel)]="betRound.name" required>
          </div>
          <div >
            <label for="richtigesErgebnis">Punkte für richtiges Ergebnis</label>
            <input type="number" class="form-control"  (keypress)="validateNo($event)"  id="richtigesErgebnis" name="richtigesErgebnis"[(ngModel)]="betRound.corrScorePoints" required>
          </div>
          <div >
            <label for="richtigeTordifferenz">Punkte für richtige Tordifferenz</label>
            <input type="number" class="form-control"  (keypress)="validateNo($event)"  id="richtigeTordifferenz" name="richtigeTordifferenz"[(ngModel)]="betRound.corrGoalPoints" required>
          </div>
          <div >
            <label for="richtigerGewinner">Punkte für richtigen Gewinner</label>
            <input type="number" class="form-control"  (keypress)="validateNo($event)"  id="richtigerGewinner" name="richtigerGewinner"[(ngModel)]="betRound.corrWinnerPoints" required>
          </div>

          <div>
            <label for="passwordTipprunde">Passwort (optional)</label>
            <input type="password" class="form-control"  id="passwordTipprunde" name="passwordTipprunde"[(ngModel)]="betRound.passwordTipprunde">
          </div>

          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                [checked]="betRound.isPrivate"
                (change)="betRound.isPrivate = !betRound.isPrivate"/>Tipprunde privat stellen
            </label>
          </div>

        </div>

        <!-- Footer-->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [disabled]="!addTipprunde.valid">Tipprunde erstellen</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </form>
    </div>

  </div>
</div>


