
<body>

<div class="header">
  <h1>Mein Profil</h1>
</div>

<div class="topnav">
  <a routerLink="/dashboard">Dashboard</a>
  <a style="float:right">
    <input type="text" class="form-control" value="" placeholder="Email" id="email" name="email" [(ngModel)]="searchUserMail.eMail"/>
  </a>
  <a (click) = "showProfile()" style="float:right">
    <button class="button cuteButton">Suchen</button>
  </a>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Meine Tipptabelle</h2>
      <div class="float-start">
        <h4>Tablle auf Basis meiner Tipps anzeigen</h4>
        <mat-form-field appearance="fill">
          <mat-label>Tipprunde wählen</mat-label>
          <mat-select>
            <mat-option *ngFor="let tipprunde of mytiprounds" [value]="tipprunde.name" (click)="getTippRundenByLigaID(tipprunde.id)">
              {{tipprunde.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div> <table *ngIf="myTipTable" class="myTippTable">
        <thead>
        <th>Pl.</th>
        <th>Team</th>
        <th>Spiele</th>
        <th>S</th>
        <th>U</th>
        <th>N</th>
        <th>+/-</th>
        <th>Diff</th>
        <th>Punkte</th>
        </thead>
        <tbody>
        <tr *ngFor="let entry of myTipTable, let i = index">
          <td *ngIf="i+1 ==1" bgcolor="#6b8e23">{{i+1}}</td>
          <td *ngIf="i+1 > myTipTable.length-3" bgcolor="#dc143c" >{{i+1}}</td>
          <td *ngIf="(i+1 != 1) &&!(i+1 > myTipTable.length-3)">{{i+1}}</td>
          <td>{{entry.team}}</td>
          <td>{{entry.anzahlSpiele}}</td>
          <td>{{entry.siege}}</td>
          <td>{{entry.unentschieden}}</td>
          <td>{{entry.verloren}}</td>
          <td>{{entry.toreGeschossen+":"+entry.toreKassiert}}</td>
          <td>{{entry.toreGeschossen-entry.toreKassiert}}</td>
          <td>{{entry.punkte}}</td>
        </tr>
        </tbody>
      </table></div>
    </div>

    <div class="card">
      <h2>Balkendiagramm</h2>
      <h5>Kommt bald</h5>
      <div class="fakeimg" style="height:200px;">COMING SOON</div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="usercard">
      <h2>About Me</h2>
      <div *ngIf="this.retrievedImage" ><img [src]="this.retrievedImage"></div>
      <div *ngIf="!this.retrievedImage" ><img src="../../../../../assets/blankProfilePic.png"></div>
      <div *ngIf="this.me">
        <p>{{this.me.firstName+" "+ this.me.lastName}}</p>
        <p>{{this.me.eMail}}</p>
        <p>{{this.me.birthDate}}</p>
      </div>
    </div>


    <div class="card">
      <h3>My Friends</h3>
      <table>
        <tbody>
          <tr *ngFor="let users of friends, let i = index">
            <td>{{ users.firstName }}</td>
            <td>{{ users.lastName }}</td>
            <td>
              <button class='btn btn-info' (click)="showImageFriends(users.eMail)" onclick="this.hidden=true">Show Image</button>
              <div *ngIf="users.profilePictureName">
                <div *ngIf="!equals(users.profilePictureName, this.keinBildVorhanden); else hasNoPicture">
                  <img [src]="users.profilePictureName" width="100" height="100">
                </div>
              </div>
              <ng-template #hasNoPicture>
                <img src="../../../../../assets/blankProfilePic.png" width="100" height="100">
              </ng-template>
            </td>
            <td><button  (click) = "removeFriend(users.eMail)" class='btn btn-info'>Löschen</button></td>
          </tr>
          <div *ngIf="this.friends">
            <div *ngIf="friends.length==0"><p>Du hast keine Freunde, du Otto</p></div>
          </div>
        </tbody>
      </table>
    </div>

    <div class="card">
      <h3>Pending Friends</h3>
      <table>
        <tbody>
        <tr *ngFor="let pendingUsers of pendingFriends, let i = index">
          <td>{{ pendingUsers.firstName }}</td>
          <td>{{ pendingUsers.lastName }}</td>
          <td>
            <button class='btn btn-info' (click)="showImagePendingFriends(pendingUsers.eMail)" onclick="this.hidden=true">Show Image</button>
            <div *ngIf="pendingUsers.profilePictureName">
              <div *ngIf="!equals(pendingUsers.profilePictureName, this.keinBildVorhanden); else hasNoPicture">
                <img [src]="pendingUsers.profilePictureName" width="100" height="100">
              </div>
            </div>
            <ng-template #hasNoPicture>
              <img src="../../../../../assets/blankProfilePic.png" width="100" height="100">
            </ng-template>
          </td>
          <td><button  (click) = "acceptFriend(pendingUsers.eMail)" class='btn btn-info'>Accept</button></td>
          <td><button  (click) = "declineFriend(pendingUsers.eMail)" class='btn btn-info'>Decline</button></td>
        </tbody>
      </table>
    </div>

    <div class="card">
      <h3>Requested Friends</h3>
      <table>
        <tbody>
        <tr *ngFor="let pendingRequestesUsers of pendingRequestedFriends, let i = index">
          <td>{{ pendingRequestesUsers.firstName }}</td>
          <td>{{ pendingRequestesUsers.lastName }}</td>
          <td>
            <button class='btn btn-info' (click)="showImageRequestedFriends(pendingRequestesUsers.eMail)" onclick="this.hidden=true">Show Image</button>
            <div *ngIf="pendingRequestesUsers.profilePictureName">
              <div *ngIf="!equals(pendingRequestesUsers.profilePictureName, this.keinBildVorhanden); else hasNoPicture">
                <img [src]="pendingRequestesUsers.profilePictureName" width="100" height="100">
              </div>
            </div>
            <ng-template #hasNoPicture>
              <img src="../../../../../assets/blankProfilePic.png" width="100" height="100">
            </ng-template>
          </td>
          <td><button (click) = "declineFriend(pendingRequestesUsers.eMail)" class='btn btn-info'>Remove</button></td>

        </tbody>
      </table>
    </div>

  </div>


</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
