<body>
<div class="topnav">
  <a routerLink="/dashboard">Dashboard<mat-icon style="margin-left: 7px">dashboard</mat-icon></a>
  <a style="float: right" (click)="logout()">Ausloggen<mat-icon style="margin-left: 7px">logout</mat-icon></a>
</div>


<div class="row">
    <div class="usercard">
      <div class="center">
        <div class="card">
          <div *ngIf="this.isOld; else nichtAltGenug">
            <button class='btn btn-info' [hidden] = "!this.buttonVisibleIfOldAndNotBeantragt" (click) = beantrageFreischaltung() onclick="this.hidden=true">Freischaltung beantragen</button>
            <div *ngIf="this.isFreigeschaltet; else nichtFreigeschaltet">
              <!--Inhalt vom Tippwetten-->

              <div class="leftcolumn">
                <div class="card">
                  <h2>Ligen</h2>

                  <div class="float-start">
                    <table class="myTippTable">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Liga Name</th>
                        <th>Jahr</th>
                      </tr>
                      </thead>
                      <!-- Liga Anzeigen Body -->
                      <tbody>
                      <tr *ngFor="let ligens of ligen, let i = index">

                        <td>{{ ligens.name }}</td>
                        <td>{{ligens.leagueData[0].date.substring(0,4) +"-"+ getNext(ligens.leagueData[0].date.substring(2,4))}}</td>
                        <td class="form-group" align="center">
                          <button class="button improvedButton" (click)="zeigeLigaDaten(ligens.id)">Spiele</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

                <div class="card">
                  <h2>Liga Daten</h2>
                  <h5>Übersicht über Manschaften, Spiele und Ergebnisse</h5>
                  <div class="">
                    <div class="">
                      <div class="card-body">
                        <table *ngIf="data" class="myTippTable">
                          <thead class="thead-dark">
                          <tr>
                            <th scope="col">Datum</th>
                            <th scope="col">Spieltag</th>
                            <th scope="col">Team 1</th>
                            <th scope="col">Team 2</th>
                            <th scope="col">Ergebnis</th>
                            <!--
                            <th scope="col">Qoute</th>
                            <th scope="col">Einsatz</th>
                            -->
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let leaguedata of data; let i = index">    <!--; let odds of oddsList-->
                            <td>{{ leaguedata.date }}</td>
                            <td>{{ leaguedata.matchDay }}</td>
                            <td>{{ leaguedata.player1 }}</td>
                            <td>{{ leaguedata.player2 }}</td>
                            <td>{{leaguedata.result}}</td>
                            <div *ngIf="oddsList[i] != null; else noOddsAvailable">
                              <td><button class="button highlightable" (click)="qouteWaehlen(oddsList[i][0], leaguedata.id, 0)">{{oddsList[i][0]}}</button></td>
                              <td><button class="button highlightable" (click)="qouteWaehlen(oddsList[i][2], leaguedata.id, 1)">{{oddsList[i][2]}}</button></td>
                              <td><button class="button highlightable" (click)="qouteWaehlen(oddsList[i][1], leaguedata.id, 2)">{{oddsList[i][1]}}</button></td>
                            </div>
                            <ng-template #noOddsAvailable>
                              <td>No odds Available</td>
                            </ng-template>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="rightcolumn">
                <div class="card">
                  <h2>Guthaben: {{this.money}}€</h2>
                  <input [(ngModel)] = wettEinsatz>
                  <button class="button" (click) = "wetteSetzen()">Wetten</button>
                  <button class="button" routerLink="/minigame">Minigame</button>
                </div>

                <div class="card">
                  <h2>Meine Platzierten Wetten</h2>
                  <table class="myTippTableSmall">
                    <thead>
                    <tr>
                      <th>Teams</th>
                      <th>Qoute</th>
                      <th>Einsatz</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let placedBets of futureWetten">

                      <td *ngIf="placedBets[2] == 0" class="colorWin">{{placedBets[0]}}</td>
                      <td *ngIf="placedBets[2] == 0" class="colorLoose">{{placedBets[1]}}</td>

                      <td *ngIf="placedBets[2] == 1" class="colorDraw">{{placedBets[0]}}</td>
                      <td *ngIf="placedBets[2] == 1" class="colorDraw">{{placedBets[1]}}</td>

                      <td *ngIf="placedBets[2] == 2" class="colorLoose">{{placedBets[0]}}</td>
                      <td *ngIf="placedBets[2] == 2" class="colorWin">{{placedBets[1]}}</td>

                      <td>{{placedBets[3]}}</td>
                      <td>{{placedBets[4]}}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>

                <div class="card">
                  <h2>Meine Vergangenen Wetten</h2>
                  <table class="myTippTableSmall">
                    <thead>
                    <tr>
                      <th>Team 1</th>
                      <th>Team 2</th>
                      <th>Qoute</th>
                      <th>Einsatz</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let placedBets of pastWetten">

                      <td *ngIf="placedBets[2] == 0" class="colorWin">{{placedBets[0]}}</td>
                      <td *ngIf="placedBets[2] == 0" class="colorLoose">{{placedBets[1]}}</td>

                      <td *ngIf="placedBets[2] == 1" class="colorDraw">{{placedBets[0]}}</td>
                      <td *ngIf="placedBets[2] == 1" class="colorDraw">{{placedBets[1]}}</td>

                      <td *ngIf="placedBets[2] == 2" class="colorLoose">{{placedBets[0]}}</td>
                      <td *ngIf="placedBets[2] == 2" class="colorWin">{{placedBets[1]}}</td>

                      <td>{{placedBets[3]}}</td>
                      <td>{{placedBets[4]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



            <!--NICHT FREIGESCHALTET-->

            <ng-template #nichtFreigeschaltet>
              <div [hidden] = "!this.isBeantragt">
                <h1>Freischaltung Beantragt</h1>
              </div>
            </ng-template>
          </div>

          <ng-template #nichtAltGenug>
            <div>
              <h2>Du bist nicht Alt genug!</h2>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
</div>



<div class="footer">
  <button class="button cuteButton" routerLink="/dashboard">Zurück</button>
</div>

</body>




