

<div class="topnav">
  <a routerLink="/dashboard">Dashboard<mat-icon style="margin-left: 7px">dashboard</mat-icon></a>
  <a style="float:right">
    <input type="text" class="form-control" value="" placeholder="Email" id="email" name="email" [(ngModel)]="user.eMail"/>
  </a>
  <a (click) = "getUser()" style="float:right">
    <button class="newButton cuteButton">Suchen</button>
  </a>
</div>
<body>
<div class="row">
  <div class="leftcolumn">

  </div>

  <div class="center">
    <div class="usercard">
      <h2>About Me</h2>
      <div *ngIf="this.retrievedImage" ><img [src]="this.retrievedImage"></div>
      <div *ngIf="!this.retrievedImage" ><img src="../../../../../assets/blankProfilePic.png"></div>
      <p>{{this.userToShow.firstName+" "+ this.userToShow.lastName}}</p>
      <p>{{this.userToShow.eMail}}</p>
      <p>{{this.userToShow.birthDate}}</p>
    </div>

    <div class="card">


      <button class="button cuteButton"(click)="addUser()">Add Friend</button>


    </div>
  </div>
</div>

<div class="footer">
  <button class="button cuteButton" routerLink="/dashboard">Zurück</button>
</div>

</body>
