
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3 class="headline">Erstelle eine Liga</h3>
      <!-- -->
      <form  (ngSubmit)="upload()">
        <div class="form-group">
          <input type="text" class="form-control" value="name" placeholder="Liganame" id="name" name="name" [(ngModel)]="liga.name">
        </div>
        <p></p>
        <div class="form-group">
          <label class="labels">CSV-Spielplan:</label>
          <pre></pre>
          <input  class="labels" type="file" (change)="selectFile($event)" accept=".csv" value="">
        </div>
        <p></p>
        <div>
          <label class="labels">Ligabild:</label>
          <pre></pre>
          <input  name="picture" class="labels" type="file" accept="image/png, image/jpeg" (change)="selectProfilePicture($event)">
        </div>
        <p></p>
        <div class="form-group">
          <button  class="btnSubmit">Liga erstellen</button>
        </div>
        <div class="form-group">
          <button routerLink="/admin-dashboard" class="btnSubmit">Zurück</button>
        </div>
      </form>
      <!-- -->


    </div>
  </div>
</div>
