

<router-outlet></router-outlet>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3 class="headline">Registrierung: </h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nachname" value="" />
      </div>
      <p></p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Vorname" value="" />
      </div>
      <p></p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="E-Mail" value="" />
      </div>
      <p></p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Geburtsdatum" value="" />
      </div>
      <p></p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Passwort" value="" />
      </div>
      <div class="form-group">
        <button  class="btnSubmit">Konto erstellen</button>
      </div>
      <div class="form-group">
        <a routerLink="/login" class="btnKonto" >Zurück zum Login!</a>

      </div>

    </div>
  </div>
</div>



