
<div class="login-container">
  <div class="login-form">
    <div class="form-group">
      <div class="form-group">
        <h3>Meine Tipprunden</h3>
      </div>
      <div class="uebernehmen">
        <div class="float-start">
          <h4>Tipps übernehmen</h4>
          <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <mat-select>
              <mat-option *ngFor="let tipprunde of mytiprounds" [value]="tipprunde.name" (click)="getTippRundenByLigaID(tipprunde.id)"  >
                {{tipprunde.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <h4>Tipps einfügen</h4>
          <mat-form-field appearance="fill">
            <mat-label>To</mat-label>
            <mat-select>
              <mat-option *ngFor="let tipprunde of myTippRundenByLigaID" [value]="tipprunde.name" (click) ="transferBets(tipprunde.id)">
                {{tipprunde.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="card my-5">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Tipprunden Name</th>
            <th scope="col">Aktion</th>
          </tr>
          </thead>
          <!-- Liga Anzeigen Body -->
          <tbody>
          <tr *ngFor="let mytippround of mytiprounds, let index = index">
            <td>{{ mytippround.name}}</td>
            <td><button  class="btnLiga" data-bs-toggle="modal" data-bs-target="#myModal" (click)="SaveligaID(mytippround.ligaID, mytippround.id); getMatchDays(mytippround.ligaID); getTipprundeByID(mytippround.id)" >Tipps abgeben</button>
              <button  class="btnLiga" data-bs-toggle="modal" data-bs-target="#myModal2" (click)="SaveligaID(mytippround.ligaID, mytippround.id); getLeaderBoard(mytippround.id); getTipprundeByID(mytippround.id)">Ergebnisse</button>
              <!-- BUTTON EINTRAGEN WENN USER AUCH ERSTELLER IST SOLL ER LEUTE EINLADEN <button  class="btnLiga" (click)="tipprundeBeitreten(tippround.name)">Beitreten</button> -->
              <button class="btnLiga" [hidden]="this.ArrayWithTiproundsOwnerIDS[index]!=this.CurrentUserID"(click)="tipprundeEinladen(mytippround.id)">Einladen</button>
              <button class="btnLiga" data-bs-toggle="modal" data-bs-target="#myModal3" (click)="SaveligaID(mytippround.ligaID, mytippround.id)" >Alias erstellen/ändern</button>
              <button class="btnLiga" data-bs-toggle="modal" (click)="teileTipps(mytippround.id)">Teile Tipps</button>
            </td>
            <td [hidden]="this.ArrayWithTiproundsOwnerIDS[index]!=this.CurrentUserID">
              <select #user (change)="onSelectedUser(user.value)">
                <option disabled selected>Select a User to Invite</option>
                <option *ngFor="let showAllUser of allUser" [value]="showAllUser.eMail">{{showAllUser.eMail}}</option>
              </select>

              <select #friend (change)="onSelectedFriend(friend.value)">
                <option disabled selected>Select a Friend to Share Tipps</option>
                <option *ngFor="let showAllFriends of allFriends" [value]="showAllFriends.eMail">{{showAllFriends.eMail}}</option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button routerLink="/dashboard" class="btnSubmit">Zurück</button>
  </div>

</div>

<!-- PopUp fürs Abgeben der Tipps -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form  #addTipp="ngForm">
        <!-- Header-->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Tipps abgeben</h4>
        </div>

        <!-- Body-->
        <div class="modal-body" >
          <div class="card my-5">
            <div class="card-body">
              <select class="dropdown">
                <option class="dropdown-item" *ngFor="let x of matchDayCount" (click)="MatchDayDaten(x); FormControlReset()">Spieltag:{{x}} </option>
              </select>
              <div style="float: right">
                <h4>Punkte für korrektes Ergebnis: {{currTipprunde.corrScorePoints}}</h4>
              <h4>Punkte für korrekte Tordifferenz: {{currTipprunde.corrGoalPoints}}</h4>
              <h4>Punkte für korrekten Gewinner: {{currTipprunde.corrWinnerPoints}}</h4>
            </div>
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" >Mannschaft 1</th>
                  <th scope="col">Mannschaft 2</th>
                  <th scope="col">Dein Tipp</th>
                  <th scope="col">Aktueller Tipp</th>
                  <th scope="col">Tipphilfe</th>
                  <th scope="col">Aktion</th>

                </tr>
                </thead>
                <!-- MatchDayDaten Anzeigen Body -->
                <tbody>
                <tr *ngFor="let x of matchDayDaten, let index = index">
                  <td>{{ matchDayDaten[index].player1}}</td>
                  <td>{{ matchDayDaten[index].player2 }}</td>

                  <td><form [formGroup]="TippAbgabeForm" >
                      <input [(ngModel)]="matchDayDaten[index].newBet" [ngModelOptions]="{standalone: true}" id="tippabgabe" name="tippabgabe" type="text" [pattern]="tippPattern" Placeholder="Zahl 1 - Zahl 2" (keypress)="validateNo($event)">
                    <div *ngIf="f.tippAbgabe.errors?.['pattern']">Falsches Format</div>
                    </form>
                  </td>
                  <td>{{ Bets[index] }}</td>
                  <td><button class="btn btn-info" (click)="getTipHelp(matchDayDaten[index].id)">Tipphilfe</button></td>
                  <td><button type="submit" class="btn btn-success"  (click)="placeBet(matchDayDaten[index].id, index)" [disabled]="passedGame[index]" >Speichern</button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <!-- Footer-->
        <div class="modal-footer" >
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </form>
    </div>

  </div>
</div>


<!-- PopUp fürs Leaderboard-->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <form  #addTipp="ngForm">
        <!-- Header-->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Leaderboard zur Tipprunde {{tipRundenID}}</h4>
          <div style="float: right">
            <h4>Punkte für korrektes Ergebnis: {{currTipprunde.corrScorePoints}}</h4>
            <h4>Punkte für korrekte Tordifferenz: {{currTipprunde.corrGoalPoints}}</h4>
            <h4>Punkte für korrekten Gewinner: {{currTipprunde.corrWinnerPoints}}</h4>
          </div>
        </div>

        <!-- Body-->
        <div class="modal-body" >
          <div class="card my-5">
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" >Teilnehmer</th>
                  <th scope="col">Punkte</th>
                </tr>
                </thead>
                <!-- MatchDayDaten Anzeigen Body -->
                <tbody>
                <tr *ngFor="let x of leaderboard, let index = index">
                  <td>{{ x.user.firstName}}</td>
                  <td>{{ x.scores }}</td>
                  <td>
                    <button class="btn btn-info" data-bs-dismiss="modal" (click)="showProfile(x.user.eMail)">
                      Profil anzeigen
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <!-- Footer-->
        <div class="modal-footer" >
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </form>
    </div>

  </div>
</div>



<!-- PopUp fürs Erstellen/Ändern eines Alias  -->
<div class="modal" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content">
      <form  #joinTipprunde="ngForm">
        <!-- Header-->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Alias erstellen oder ändern</h4>
        </div>

        <!-- Body-->
        <div class="modal-body" >
          <div>
            <label for="name">Alias Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="alias" required>
          </div>
        </div>

        <!-- Footer-->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="joinTipprunde.invalid" (click)="AddAlias(this.tipRundenID)">Speichern</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
        </div>
      </form>
    </div>

  </div>
</div>
